<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Login</title>
</head>
<body>
    <div class="logo">
        <img src="GYCIL\base\static\base\img\logo_nav.png" alt="logotipo">
    </div>
    <h1>Login Empresa</h1>
    
    <div>
        <form action= "{% url 'login' %}" method="POST">{% csrf_token %}
            <p>Email:</p>
            <input type="email_user" placeholder="Email..." name="email_user">
            <br>
            <br>
            <p>CNPJ:</p>
            <input type="cnpj" placeholder="CNPJ..." name="cnpj">
            <br>
            <br>
            <p>Senha:</p>
            <input type="password_company" placeholder="Senha..." name="password_company">
            <br><br>
            {% if error_message %}
                <p>Esqueceu sua senha?</p> <!-- Adicione um link para a pagina de recuperação de senha -->
            {% endif %}
            <br>
            <br>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>

    <p>Sua empresa não esta cadastrada?</p> <!-- Adicione um link para a pagina cadastro--> <p>Cadastre-a</p>
</body>
</html>