@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

body {
  font-family: Montserrat;
}

/* Logo da Navbar */
.logo {
    width: 130px;
    height: 90px;
    display: inline-block;
    background-position: center;
    object-fit: cover;
}

/* Botão do tipo SUBMIT */
.submitBtn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2D5D4F;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .submitBtn:hover {
    background-color: hsl(156, 70%, 45%);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .submitBtn:active {
    transform: translateY(-1px);
  }

  /* Cor dos Botões de Link <a> */
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: hsl(156, 70%, 45%);
  }