<!DOCTYPE html>
<html>
<head>
    <title>Página da Empresa</title>
</head>
<body>
    <h1>Página da Empresa</h1>
    <ul>
    {% for request in service_requests %}
        <li>
            {{ request.name }} - {{ request.get_service_choice_display }} - Status: {% if request.accepted %}Aceito{% else %}Pendente{% endif %}
            <form method="post" action="{% url 'accept_service' request.id %}">
                {% csrf_token %}
                <button type="submit">Aceitar</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
