{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% include "partials/_head.html" %}
  Login Empresa
{% endblock %}
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="{% static 'products/js/createUpdate.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="text-center">
            <h2 class="text-center">Faça o Login de sua Empresa </h2>
            <div class="">
                        <form action= "{% url 'login:company' %}" method="POST">{% csrf_token %}
                            <div class="mb-3 text-start">
                                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                                <input type="email" class="form-control text-center shadow p-3 mb-5 bg-body-tertiary rounded" id="exampleFormControlInput1" placeholder="empresa@exemplo.com" name="email_user">
                              </div>
                            <div class="mb-3 text-start">
                                <label for="exampleFormControlInput1" class="form-label">CNPJ:</label>
                                <input type="cnpj" class="form-control text-center shadow p-3 mb-5 bg-body-tertiary rounded" id="exampleFormControlInput1" placeholder="Digite o CNPJ da sua empresa" name="cnpj">
                              </div>
                            <div class="mb-3 text-start">
                                <label for="exampleFormControlInput1" class="form-label">Senha:</label>
                                <input type="password_company" class="form-control text-center shadow p-3 mb-5 bg-body-tertiary rounded" id="exampleFormControlInput1" placeholder="Digite sua senha" name="password_company">
                              </div>
                            {% comment %} <div class="row g-3">
                                <div class="col">
                                    <input class="form-control text-center" type="email_user" placeholder="E-mail" name="email_user">
                                </div>
                            </div>
                            <p>CNPJ:</p>
                            <div class="col">
                                <input class="form-control text-center" type="cnpj" placeholder="CNPJ" name="cnpj">
                            </div>
                            <p>Senha:</p>
                            <div class="col">
                                <input class="form-control text-center" type="password_company" placeholder="Senha" name="password_company">
                            </div> {% endcomment %}
                            <div class="mb-3 mt-3">
                                {% if error_message %}
                                    <a href="">Esqueceu a senha?</a> <!-- Adicione um link para a pagina de recuperação de senha -->
                                {% endif %}
                            </div>
                            
                            <div class="mb-3 mt-3">
                                {% if error_message %}
                                    <p>{{ error_message }}</p>
                                {% endif %}
                            </div>

                            <div class="mb-3 mt-3">
                                <input class="form-control submitBtn" type="submit" value="Entrar">
                            </div>

                            <p>Sua empresa não esta cadastrada?</p>
        
                            <a class="color_link" href="">Cadastre agora</a>

                        </form>

            </div>
        </div>
    </div>
{% endblock %}